.gc-parcel-field-horizontal {
    padding: 0.75rem;
    margin-bottom: 0 !important;
}
.gc-parcel-field-vertical {
    margin: 0.25em !important;
}
.gc-parcel-field-vertical .label{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}